html{
    background-color: #000000;}

@font-face {
    font-family: "Kurrent";
    src: url(./18thCtrKurStart.ttf);
}
body{font-family:"Kerrent",sans-serif;
}
h1 {font-family:"Kurrent",  sans-serif;
    color: #7fff00;
}

 p{font-family:"Kurrent", sans-serif;
    color: #7fff00;
}

ul {font-family:"Kurrent", sans-serif;
    color: #7fff00;
}

h2 {font-family:"Kurrent", sans-serif;
    color: #7fff00;
}